// COLORS
$color-text: #9fabb2;
$color-black: #000;
$color-green: #26baa4;
$color-blue: #6173ff;
$color-white: #fff;
$color-gradient: rgba(255, 255, 255, 0.6);
$color-bg: rgba(159, 171, 178, 0.1);

// FONTS
$font-title: 600;
$font-text: 400;

// RESPONSIVE BREAKPOINTS
$bp-mobile: 48em; // 768px
$bp-tablet: 62em; // 992px
