.btn {
  font-size: 1.8rem;
  font-weight: $font-text;
  text-decoration: none;
  color: $color-white;
  border-radius: 10rem;
  text-align: center;
  padding: 1rem 6rem;
  box-shadow: 0 0.5rem 1rem rgba($color-black, 0.3);

  @media only screen and (min-width: $bp-mobile) {
    padding: 1.5rem 6rem;
  }

  &:not(:last-child) {
    margin-bottom: 2rem;

    @media only screen and (min-width: $bp-mobile) {
      margin-right: 2rem;
    }
  }

  &--green {
    background-color: $color-green;

    @media only screen and (min-width: $bp-mobile) {
      box-shadow: 0 1.5rem 0.8rem rgba($color-green, 0.3);
    }
  }

  &--blue {
    background-color: $color-blue;
  }
}
